* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.navbar {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    background: #fff;
    border-bottom: 1px solid #eee;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.left-section,
.right-section {
    display: flex;
    align-items: center;
    gap: 25px;
}

.profile-img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
}

.name {
    font-size: 20px;
    font-weight: 700;
    color: black !important;
}

.nav-item {
    position: relative;
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 15px;
    cursor: pointer;
    color: #333;
}

.nav-item .arrow {
    font-size: 10px;
    margin-left: 3px;
}

/* Resources styling */
.resources {
   padding: 0;   
    border: none;
    border-radius: 0;
}

/* Dropdown Menu */
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    border: 1px solid #ddd;
    width: 180px;
    border-radius: 8px;
    padding: 10px 0;
    display: none;
    flex-direction: column;
    box-shadow: 0 4px 12px rgba(0,0,0,0.12);
    z-index: 1000;
}

.dropdown-menu a {
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
    display: block;
    font-size: 14px;
}

.dropdown-menu a:hover {
    background: #f5f5f5;
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-menu {
    display: flex;
}

.language {
    display: flex;
    align-items: center;
    gap: 7px;
    cursor: pointer;
}

.flag {
    width: 20px;
}

.cart {
    background: #0b1a55;
    color: white;
    padding: 10px 18px;
    border-radius: 10px;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.cart .count {
    background: white;
    color: #0b1a55;
    padding: 3px 8px;
    border-radius: 50%;
    font-size: 14px;
    font-weight: bold;
}


/* Cart button */
.cart-btn {
    background: #0f1a56;
    color: white;
    padding: 12px 20px;
    border-radius: 12px;
    text-decoration: none;

    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.cart-count {
    background: white;
    color: #0f1a56;
    padding: 3px 7px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 50%;
}


